.maincontainer{
    background-image: url(https://i.imgur.com/rbjru1b.png);
    background-repeat: no-repeat;
    background-size: cover;
} 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chewy&family=Fredoka:wdth,wght@80.8,300..700&family=Luckiest+Guy&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.btn {
  width: 130px;
  height: 40px;
  font-size: 1.4em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
  margin:5%;
  font-family: 'Fredoka';
}

 
 .btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }
 
 .btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }
   
   @keyframes slidernbw {
    to {
     background-position: 20vw;
    }
   }
  
  
  
  /* First text block */
  .text-block-1 {
    text-align: center;
    color: #FFF3B0;
    font-size: 62px;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  /* Second text block */
  .text-block-2 {
    
    text-align: center;
    color: #EDE0D4;
    font-size: 38px;
    font-family: 'Fredoka';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  