.games {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 20px;
}
@media (max-width: 1024px) {
    .games {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    .games-container {
      grid-template-columns: 1fr;
    }
}
