/* Container styling */
.commoncontainer {
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
  }
.boredcontainer{
   background: linear-gradient(180deg, #A9B9D6 0%, #BDC5D3 50%, #E6E6F0 100%);
}
.excitedcontainer{
  background: linear-gradient(180deg, #FDEB71 0%, #F8D1E0 50%, #A7E8FB 100%);
}
.scaredcontainer{
  background: linear-gradient(180deg, #B3DFFA 0%, #D4C2FC 50%, rgba(255, 69, 0, 0.60) 100%);
}
.curiouscontainer{
  background: linear-gradient(180deg, rgba(163, 223, 242, 0.90) 0%, #FFD9C0 50%, #FFF8B0 75%);
}
  
  /* Image styles */
  .image {
    position: absolute;
    cursor: pointer;
  }
  
  .image1 {
    width: 450px;
    height: 280px;
    left: 30px;
    top: 200px;
  }
  
  .image2 {
    width: 470px;
    height: 279.41px;
    left: 500px;
    top: 201px;
  }
  
  .image3 {
    width: 450px;
    height: 282px;
    left: 30px;
    top: 626px;
  }
  
  .image4 {
    width: 470px;
    height: 280.6px;
    left: 500px;
    top: 627px;
  }
  
  /* Background blocks */
  .backgroundBlock {
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .block1 {
    width: 450px;
    height: 93px;
    left: 30px;
    top: 107px;
    
  }
  
  .block2 {
    width: 450px;
    height: 93px;
    left: 30px;
    top: 533px;
   
  }
  
  .block3 {
    width: 470px;
    height: 93px;
    left: 500px;
    top: 533px;
      }
  
  .block4 {
    width: 470px;
    height: 93px;
    left: 500px;
    top: 107px;
    
  }

  .excitedblock1{
    background: #800E13;
  }
  .excitedblock2{
    background: #9E0059;
  }
  .excitedblock3{
    background: #D03E1A;
  }
  .excitedblock4{
    background: #001D3D;
  }
  .boredblock1{
    background: #582F0E;
  }
  .boredblock2{
    background: #013A63;
  }
  .boredblock3{
    background: #F25C54;
  }
  .boredblock4{
    background: #FFC914;
  }


  
  /* Text styles */
  .text {
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Fredoka One', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .text1 {
    width: 352px;
    height: 44px;
    left: 70px;
    top: 124px;
    font-size: 28px;
  }
  
  .text2 {
    width: 337px;
    height: 30px;
    left: 570px;
    top: 119px;
    font-size: 28px;
  }
  
  .text3 {
    width: 316px;
    height: 49px;
    left: 70px;
    top: 558px;
    font-size: 30px;
  }
  
  .text4 {
    width: 308px;
    height: 45px;
    left: 570px;
    top: 551px;
    font-size: 28px;
  }
  